<link href="{{ asset('css/brt-label-dialog.css') }}" rel="stylesheet">
<link href="{{ asset('css/style.css') }}" rel="stylesheet" />
<link href="{{ asset('css/brt-label-dialog.css') }}" rel="stylesheet" />

<div class="panel">
    <div class="panel-heading">
        <div class="title">
            <span class="icon icon-barcode"></span>
            <span class="title">Gestione etichette</span>
        </div>
    </div>
    <div class="panel-body">
        <div class="d-flex justify-content-start align-items-center gap-2">
            <button type="button" class="btn btn-primary" onclick="showDialogBrtLabel()">
                <span class="material-icons mr-2">add</span>
                <span>Crea richiesta BRT</span>
            </button>
            <div class="d-flex justify-content-start align-items-center gap-2" style="border: 1px solid #dcdcdc; border-radius: 5px; padding: 16px;">
                <input type="text" class="form-control text-right" id="deleteNumericSenderReference" placeholder="Riferimento numerico" value="">
                <input type="text" class="form-control text-right" id="deleteAlphanumericSenderReference" placeholder="Riferimento alfanumerico" value="">
                <button type="button" class="btn btn-primary" id="btnDeleteLabel">
                    <span class="material-icons mr-2">delete</span>
                    <span>Elimina</span>
                </button>
            </div>
        </div>
    </div>
</div>

{% include '@Module/views/twig/Controllers/BrtLabel.html.twig' %}

<div class="panel">
    <div class="panel-heading">
        <i class="material-icons">label</i>
        <span>Elenco colli</span>
    </div>
    <div class="panel-body">
        <table class="table-bordered table-condensed table-striped table-hover" id="table-list-parcels">
        </table>
    </div>
</div>

<link rel="stylesheet" href="{{ asset('bs-table/bootstrap-table.min.css') }}">
<link rel="stylesheet" href="{{ asset('bs-table/extensions/filter-control/bootstrap-table-filter-control.min.css') }}">
<script src="{{ asset('bs-table/bootstrap-table.min.js') }}"></script>
<script src="{{ asset('bs-table/extensions/filter-control/bootstrap-table-filter-control.min.js') }}"></script>
<script src="{{ asset('bs-table/locale/bootstrap-table-it-IT.min.js') }}"></script>
<script src="{{ asset('js/qz-tray.js') }}"></script>
<script src="{{ asset('js/dateToItalian.js') }}"></script>

<script src="{{ asset('js/PdfLib/pdf-lib.min.js') }}"></script>
<script src="{{ asset('js/PdfMergerClass.js') }}"></script>
<script src="{{ asset('js/fixBootstrapTable.js') }}"></script>
<script src="{{ asset('js/components/table-input.js') }}"></script>
<script src="{{ asset('js/BrtLabelFormWrapper.js') }}"></script>

<script>
    const MPBRTLABELS_ENDPOINT = "{{ adminControllerUrl | raw }}";
    const MPBRTLABELS_ORDER_ID = 0;
    const MPBRTLABELS_PAGE = 'labels';

    let table = null;
    let mergePDF = new PdfMerger();

    document.addEventListener('DOMContentLoaded', () => {

        table = document.getElementById('table-list-parcels');

        console.log('DOM Loaded: AdminBrtLabel');
        
        initTable(table);

        const form = document.getElementById('form-brtlabel');
        if (form && window.BrtLabelFormWrapper) {
            window.BrtLabelForm = new BrtLabelFormWrapper(MPBRTLABELS_ENDPOINT, MPBRTLABELS_ORDER_ID, 'saveLabelField', form, false, false);
        }
    });

    function showDialogBrtLabel() {
        if (window.BrtLabelForm) {
            window.BrtLabelForm.showDialog();
        }
    }

    function hideBrtLabelDialog()
    {
        if (window.BrtLabelForm) {
            window.BrtLabelForm.hideDialog();
        }
    }

    function addEmptyRow()
    {
        const orderId = MPBRTLABELS_ORDER_ID;
        window.BrtLabelForm.addEmptyRow(orderId);
    }

    function calcVolume(btn)
    {
        window.BrtLabelForm.calcVolume(btn);
    }

    function calcTotals()
    {
        window.BrtLabelForm.calcTotals();
    }

    async function saveParcel(btn)
    {
        window.BrtLabelForm.saveParcel(btn);
    }

    async function deleteParcel(btn)
    {
        window.BrtLabelForm.deleteParcel(btn);
    }

    function initTable(table) {
        $(table).bootstrapTable({
            url: MPBRTLABELS_ENDPOINT,
            method: "post",
            contentType: "application/x-www-form-urlencoded",
            queryParams: function (params) {
                console.log("QueryParams", params);

                return {
                    ajax: 1,
                    action: "fetchTableParcels",
                    type: "all",
                    limit: params.limit,
                    offset: params.offset,
                    search: params.search,
                    sort: params.sort == undefined ? "id_brt_labels_parcel" : params.sort,
                    order: params.order == undefined ? "desc" : params.order,
                    filter: params.filter == undefined ? "" : params.filter,
                };
            },
            search: false,
            filterControl: true,
            filterControlVisible: true,
            filterControlSearchClear: true,
            showFilterControlSwitch: true,
            searchOnEnterKey: true,
            sortSelectOptions: true,
            serverSort: true,
            sidePagination: "server",
            pagination: true,
            showRefresh: true,
            showColumns: false,
            striped: true,
            condensed: true,
            pageSize: 25,
            pageList: [10, 25, 50, 100, 250, 500],
            locale: "it-IT",
            classes: "table table-bordered table-hover",
            theadClasses: "thead-dark",
            showExport: false,
            toolbar: null,
            uniqueId: "id_brt_labels_parcel",
            detailView: false, // Imposta a true per avere il dettaglio della riga su onExpandRow
            detailFormatter: (_, row) => {
                return '<div id="detail-' + row.id_carrier_brt_localita + '">Caricamento...</div>';
            },
            onExpandRow: (_, row, $detail) => {
                //Per ora non serve, ma lasciamo il codice per futura implementazione
                //$details è il contenuto da visualizzare
            },
            iconsPrefix: "icon", // usa Font Awesome invece delle glyphicons
            icons: {
                detailOpen: "icon-plus icon-2x", // icona quando è chiuso
                detailClose: "icon-minus icon-2x", // icona quando è aperto
            },
            onPostBody: function () {
                fixBootStrapTableIcons();
                fixDropDownMenuPagination();
            },
            columns: [
                {
                    field: "id_brt_labels_parcel",
                    title: "ID",
                    align: "left",
                    sortable: true,
                    uniqueId: true,
                    filterControl: "input",
                    formatter: function (value, row, index) {
                        return `<span style="font-family:'monospace';">${value}</span>`;
                    },
                },
                {
                    field: "PECOD",
                    title: "CODICE",
                    align: "left",
                    sortable: true,
                    filterControl: "input",
                    formatter: function (value, row, index) {
                        return `<span style="font-family:'monospace';">${value}</span>`;
                    },
                },
                {
                    field: "PPESO",
                    title: "Peso",
                    align: "right",
                    sortable: true,
                    filterControl: "input",
                    formatter: function (value, row, index) {
                        return `<span style="font-family:'monospace';">${value} Kg</span>`;
                    },
                },
                {
                    field: "PVOLU",
                    title: "Volume",
                    align: "right",
                    sortable: true,
                    filterControl: "input",
                    formatter: function (value, row, index) {
                        return `<span style="font-family:'monospace';">${value} m<sup>3</sup></span>`;
                    },
                },
                {
                    field: "X",
                    title: "X",
                    align: "right",
                    sortable: true,
                    filterControl: "input",
                    formatter: function (value, row, index) {
                        return `<span style="font-family:'monospace';">${value/10} cm</span>`;
                    },
                },
                {
                    field: "Y",
                    title: "Y",
                    align: "right",
                    sortable: true,
                    filterControl: "input",
                    formatter: function (value, row, index) {
                        return `<span style="font-family:'monospace';">${value/10} cm</span>`;
                    },
                },
                {
                    field: "Z",
                    title: "Z",
                    align: "right",
                    sortable: true,
                    filterControl: "input",
                    formatter: function (value, row, index) {
                        return `<span style="font-family:'monospace';">${value/10} cm</span>`;
                    },
                },
                {
                    field: "ID_FISCALE",
                    title: "Progressivo",
                    align: "right",
                    sortable: true,
                    formatter: function (value, row, index) {
                        return `<span style="font-family:'monospace';">${value}</span>`;
                    },
                },
                {
                    field: "date_add",
                    title: "Data Inserimento",
                    align: "center",
                    sortable: true,
                    formatter: function (value, row, index) {
                        return dateToItalian(value);
                    },
                },
                {
                    field: "date_upd",
                    title: "Data Aggiornamento",
                    align: "center",
                    sortable: true,
                    formatter: function (value, row, index) {
                        return dateToItalian(value);
                    },
                },
                {
                    field: "action",
                    title: "Azioni",
                    align: "center",
                    width: 50,
                    sortable: false,
                    formatter: function (value, row, index) {
                        return `
                            <div class="d-flex justify-content-center align-items-center gap-2">
                                <button type="button" class="btn btn-primary btn-sm" name="btn-edit-alias" title="Alias" data-id="${row.id_mpnote}">
                                    <span class="material-icons">edit</span>
                                </button>
                            </div>
                        `;
                    },
                },
            ],
        });
    }
</script>